<div class="card">
  <div class="hob">
    <div class="cardhead">
      <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256"><path d="M228.97 31.03a4 4 0 0 0-4-4c-34.243 0-70.456 33.038-94.862 60.835a3.93 3.93 0 0 0-.29.331a410.153 410.153 0 0 0-18.795 23.136A55.996 55.996 0 0 0 36 164c0 33.436-17.744 48.263-18.51 48.886A4 4 0 0 0 20 220h72a55.996 55.996 0 0 0 52.668-75.023a410.12 410.12 0 0 0 23.131-18.792a3.978 3.978 0 0 0 .34-.298c27.796-24.406 60.832-60.616 60.832-94.858zM92 212H29.129C35.452 203.751 44 188.137 44 164a48 48 0 1 1 48 48zm26.518-97.31a406.364 406.364 0 0 1 15.279-18.91a80.241 80.241 0 0 1 26.423 26.423a407.039 407.039 0 0 1-18.91 15.28a56.397 56.397 0 0 0-22.792-22.793zm47.787 2.166a88.2 88.2 0 0 0-27.161-27.161a297.896 297.896 0 0 1 22.709-22.82c21.837-19.537 41.638-30.17 58.935-31.663c-1.493 17.296-12.126 37.098-31.662 58.934a298.188 298.188 0 0 1-22.82 22.71z" /></svg>
      <h3>Digital Art</h3>
    </div>
    <span>Since Lockdown started along with web development, I started drawing on my phone and eventually shifted 
      to a proper drawing tablet. I will not put any of my artworks on this site to avoid long waiting times, 
      but I do plan on making a dedicated art portfolio soon.
      You can check out my artwork <a class="kite" href="https://www.instagram.com/kite__art/" target="blank">@kite__art</a>on Instagram.</span>
  </div>
</div>
<div class="card">
  <div class="hob">
    <div class="cardhead">
      <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256"><path d="M184 112h-32a4 4 0 0 1 0-8h32a4 4 0 0 1 0 8zm-80-8H92V92a4 4 0 0 0-8 0v12H72a4 4 0 0 0 0 8h12v12a4 4 0 0 0 8 0v-12h12a4 4 0 0 0 0-8zm113.562 115.51a32.03 32.03 0 0 1-28.184-8.883a4.309 4.309 0 0 1-.24-.262l-41.911-46.526l-38.406.154l-41.956 46.38q-.11.13-.234.254a32.002 32.002 0 0 1-54.14-28.189l16.327-83.974c.008-.062.017-.123.028-.185A55.874 55.874 0 0 1 84.004 52l88.002-.26h.012a56.08 56.08 0 0 1 55.108 46.108c.007.035.023.066.03.101l16.35 84.423a32.05 32.05 0 0 1-25.944 37.138zm-45.56-63.77a48 48 0 1 0 .026-96L84.016 60A47.892 47.892 0 0 0 36.77 99.411a3.95 3.95 0 0 1-.05.323l-16.364 84.162a24.002 24.002 0 0 0 40.523 21.168l43.194-47.748a4.002 4.002 0 0 1 2.95-1.316zm63.638 28.087l-11.017-56.878a56.096 56.096 0 0 1-52.605 36.791l-14.063.056l37.177 41.27a24.002 24.002 0 0 0 40.508-21.239z" /></svg>
    <h3>Video Games</h3>
  </div>
    <span>
      I like video games. May be I will be able to develope them someday. Who knows...
    </span>
  </div>
</div>