
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Open+Sans:wght@700&family=Poppins:wght@300&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration:  none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c67f1;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d5af1;
}

/* Navbar styles start */
.navbar{
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 2em;
  padding: 1em;
  z-index: 1;
}

.navbar .link{
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar .link svg{
  fill: #3d5af1;
  min-width: 2em;
  min-height: 2em;
}

.navbar span{
  margin-left:10px;
  opacity:0;
  width: 0;
  padding: 0 8px;
  overflow: hidden;
  font-weight: bolder;
  transform: translatex(-14px);
  transition: all 400ms ease;
  font-size: large;
}

.navbar a:hover{
  width: 9em;
}

.navbar a:hover span{
  color: #3d5af1;
  display: inline;
  opacity:1;
  width: auto;
  transform: translatey(3px);
  transform: translatex(0);
}
/* Navbar style end */

/* Home section style start */
.home{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  align-items: center;
  justify-content: center;
  color: #3d5af1;
}

.home h1{
  padding: 5px;
  margin: 0;
  font-size: 7em;
  -webkit-text-stroke: 3px #3d5af1 ;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border: 3px solid #3d5af1;
  border-radius: 10px;
  background: #3d5af1 ;
  background: linear-gradient(
    to bottom, 
    #ffffff 0%, 
    #ffffff 55%, 
    #3d5af1 40%, 
    #3d5af1 100%
  );
}

.home h3{
  margin-top: 90px;
}

/* Home section style end */

/* Skill section style start */
.skill{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  align-items: center;
  justify-content: center;
  color: #3d5af1;
}

.skill .card{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  background-color: #4c67f1;
  color: white;
  border-radius: 40px;
  align-items: centers;
}

.skill .card-lang{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  background-color: #ffffff;
  color: #3d5af1;
  border-radius : 40px;
  align-items: centers;
  justify-content: center;
}

.lang{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skill h1{
  font-size: 4em;
  -webkit-text-stroke: 3px #3d5af1 ;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.program{
  display: flex;
  padding: 0%;
  width: 80%;
  font-weight: 400;
  box-sizing: border-box;
}


.lang svg{
  min-width: 4em;
  min-height: 4em;
  max-width: 4em;
  max-height: 4em;
  margin: 10px;
  margin-top: 20px;
}

/* Skill section style end */

/* hobbies style start */

.hobbies{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-top: 3em;
  align-items: center;
  justify-content: center;
  color: #3d5af1;
}

.hobbies h1{
  font-size: 4em;
  -webkit-text-stroke: 3px #3d5af1 ;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.hobbies .card{
  width: 80%;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 40px;
  border-radius: 40px;
  align-items: center;
  background-color: #4c67f1;
  color: #ffffff;
}

.cardhead{
  display: flex;
  border-radius: 50px;
  width: 300px;
  align-items: center;
  color: #3d5af1 ;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.cardhead svg{
  min-height: 2.5em;
  min-width: 2.5em;
  margin: 10px;
  border-radius: 50%;
  background-color: #4c67f1;
  padding: 10px;
  fill: white;
}



